/* *Global styling */

@import url(https://cdn.jsdelivr.net/gh/tonsky/FiraCode@1.206/distr/fira_code.css);

* {
    margin: 0;
    padding: 0;
}

html, body {
    font-family: 'Fira Code', monospace;
    font-size: 1em;
}

main.page {
    max-width: 100vw;
    background-color: #fff;
    margin-top: 98px;
}


a, a:link {
    color: #fff;
    text-decoration: none;
}


/* *Header */

#header-img {
    height: 1.375em;
    padding: 1em 0;
}

#nav-bar ul li {
    display: inline-block;
    padding: 0 0.35em 1em 0.35em;
    list-style: none;
    font-size: 1.125em;
}

header {
    text-align: center;
    background-color: #262957;
    position: fixed;
    overflow: hidden;
    top: 0;
    width: 100vw;
    z-index: 2;
}

/* *Description */

#description span {
    font-size: 7em;
    font-weight: 500;
    line-height: 1;
    color: #ed00b5;
}

#description p {
    font-size: 1.6em;
    color: #9400ff;
    padding-top: 1.5rem;
}

#description {
    text-align: center;
    padding: 2rem 0;
}

.definition {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.box {
    padding: 1.5em 1.125em;
}

.box p {
    width: 95%;
    margin: 0 auto;
    line-height: 1.45;
    font-size: 1.125em;
}

.problem {
    background-color: #ffe900;
}

.solution {
    background-color: #9400ff;
    color: white;
}

.box h2 {
    padding-bottom: 1rem;
    font-weight: 700;
    text-align: center;
}

span.mono {
    font-family: monospace;
    color: crimson;
    font-weight: 700;
}

/* *Features */

#features span {
    display: block;
    font-size: 2em;
    font-weight: 500;
    padding-bottom: 1.5rem;
    color: #ed00b5
}

#features {
    text-align: center;
    padding: 2em 0 0.5em 0;
}

#features img {
    width: 90%;
}

.one-image {
    display: none;
}

/* *Install */

#install {
    background-color: #ed00b5;
    font-size: 1.125em;
    font-weight: 500;
    line-height: 1.45;
    color: #262957;
}

#install a:link {
    color: #fff;
}

#install a:visited {
    color: #9400ff;
}

#install a:hover {
    color: #9400ff;
}

#install p {
    width: 85%;
    margin: 0 auto;
    padding: 0.5rem;
}

#install ul {
    width: 85%;
    margin: 0 auto;
    list-style: none;
}

#install ul li {
    padding-bottom: 0.5em;
    color: #ffe900;
}

#install span {
    display: block;
    font-size: 2em;
    font-weight: 500;
    padding: 1.5rem 0;
    text-align: center;
    color: #ffe900;
}

.videowraper {
    position: relative;
    margin-top: 2em;
    padding-bottom: 56.25%;
    padding-top: 25px;
    height: 0;
}

.videowraper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* *Form */

form {
    text-align: center;
    margin: 3em auto;
    display: block;
}

form p {
    color: #ed00b5;
    font-weight: 500;
    font-size: 1.125em;
    padding-bottom: 1em;
    text-transform: uppercase;
}

input[type=email] {
    width: 75%;
    height: 2rem;
    border-top: none;
    border-left: none;
    border-right: none;
    outline: none;
    font-size: 1em;
    font-family: 'Fira code';
    color: #9400ff;
    border-bottom: 2px solid #ed00b5;
}

input[type=submit] {
    width: 75%;
    height: 3em;
    margin-top: 1rem;
    font-size: 1em;
    font-family: 'Fira code';
    font-weight: 500;
    color: #fff;
    background-color: #9400ff;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
    border: none;
    cursor: pointer;
}
/* *Code examples */
#code-examples span {
    display: block;
    font-size: 2em;
    font-weight: 500;
    padding-bottom: 1.5rem;
    color: #ed00b5
}

#code-examples h2 {
    font-weight: 500;
    font-size: 1.5em;
    color: #9400ff;
}

#code-examples {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    background-color: #ffe900;
    justify-content: space-around;
    padding: 1.5em 0;
}

#code-examples p{
    width: 100%;
    line-height: 1.45;
    background-color: #262957;
    padding: 1em 1.125em;
    color: #ed00b5;
    margin: 1em auto 2em auto;
    white-space: pre-line;
}

/* *Social & footer */

.social {
    padding-top: 2rem;
    text-align: center;
    font-size: 1.5em;
    background-color: #000;
}

.social a:link, footer a:link {
    color: #9400ff;
}

.social a:hover, footer a:hover {
    color: #ed00b5;
}

.fab {
    padding: 0 0.4em;
}

.footer {
    text-align: center;
    font-size: 0.9rem;
    padding: 1.2em 0;
    background-color: #000;
}

@media screen and (min-width: 820px) {

    #description {
        padding: 3rem 0;
    }

    .definition {
        flex-direction: unset;
    }

    .box {
        width: 50%;
    }

    .box p {
        width: 85%;
    }

    #features {
        text-align: center;
        padding: 2em 0 2em 0;
    }

    .one-image {
        display: inline;
    }

    .firacodeimg, .firamonoimg {
        display: none;
    }

    #install p {
        width: 45%;
        margin: 0 auto;
        padding: 0.5rem;
    }
    
    #install ul {
        width: 45%;
    }

    .videowraper {
        margin: 2em auto 0 auto;
        padding-bottom: 50.25%;
        width: 70%;
    }
    
    .videowraper iframe {
        height: 80%;
    }
    

    input[type=email] {
        width: 30%;
    }
    
    input[type=submit] {
        width: 20%;
    }
    
    #code-examples p{
        width: 45%;
    }
    
}